body{
  display: flex;
  justify-content: center;
}

td {
  cursor: pointer;
  text-align: center;
  border: outset 3px gray;
  height: 2em;
  width: 2em;
}

table{
  width: 415px;
}

th {
  padding: 0.5em;
  border-radius: 2em;
}

.bomb{
  background: url('images/bomb-blast.jpg') no-repeat center;
  background-size: contain;
}