body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 0.5em;
  border:  3px #212f3c solid;
  border-radius: 1.2em;
}

#table{
  padding: 1vh 1.2vh;
  background:#F2F1F2 center;
  border:  3px #212f3c solid;
  border-radius: 2em;
}

td {
  cursor: pointer;
  text-align: center;
  border: outset 3px gray;
  height: 2em;
  width: 2em;
}

#reset{
  cursor: pointer;
  width: 3em;
  padding: 0.3em 0em;
  border: 2px solid;
  border-radius: 2em;
}

.verify{
  cursor: pointer;
  width: 3em;
  border: 2px solid;
  border-radius: 2em;
}

.bomb{
  width: 2em;
}
