body{
  display: flex;
  justify-content: center;
}

td {
  cursor: pointer;
  text-align: center;
  height: 2em;
  width: 2em;
}

table{
  width: 415px;
}

th {
  padding: 0.5em;
  border-radius: 2em;
}
